<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.boot.druid.mapper.businessCommodity.BusinessCommodityMapper">
    <resultMap id="BaseResultMap" type="com.boot.druid.model.businessCommodity.BusinessCommodity">
        <!--
          WARNING - @mbg.generated
        -->
        <id column="id" property="id" jdbcType="INTEGER"/>
        <result column="series" property="series" jdbcType="INTEGER"/>
        <result column="order_id" property="orderId" jdbcType="INTEGER"/>
        <result column="supplier_id" property="supplierId" jdbcType="INTEGER"/>
        <result column="commodity_id" property="commodityId" jdbcType="INTEGER"/>
        <result column="univalent" property="univalent" jdbcType="DECIMAL"/>
        <result column="count" property="count" jdbcType="DECIMAL"/>
        <result column="number_pieces" property="numberPieces" jdbcType="INTEGER"/>
        <result column="unit" property="unit" jdbcType="INTEGER"/>
        <result column="volume" property="volume" jdbcType="DECIMAL"/>
        <result column="gross_weight" property="grossWeight" jdbcType="DECIMAL"/>
        <result column="net_weight" property="netWeight" jdbcType="DECIMAL"/>
        <result column="total_price" property="totalPrice" jdbcType="DECIMAL"/>
        <result column="invoice_money" property="invoiceMoney" jdbcType="DECIMAL"/>
        <result column="quantity" property="quantity" jdbcType="REAL"/>
        <result column="item_resource" property="itemResource" jdbcType="VARCHAR"/>
        <result column="packaging" property="packaging" jdbcType="INTEGER"/>
        <result column="mark" property="mark" jdbcType="VARCHAR"/>
        <result column="univalent_origin" property="univalentOrigin" jdbcType="DECIMAL"/>
        <result column="commodity_inspection" property="commodityInspection" jdbcType="INTEGER"/>
        <result column="delete_flag" property="deleteFlag" jdbcType="INTEGER"/>
        <result column="creator" property="creator" jdbcType="INTEGER"/>
        <result column="creator_type" property="creatorType" jdbcType="INTEGER"/>
        <result column="create_date" property="createDate" jdbcType="TIMESTAMP"/>
        <result column="updator" property="updator" jdbcType="INTEGER"/>
        <result column="updator_type" property="updatorType" jdbcType="INTEGER"/>
        <result column="update_date" property="updateDate" jdbcType="TIMESTAMP"/>
        <result column="exemption" property="exemption" jdbcType="INTEGER"/>
    </resultMap>
</mapper>